<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
</head>
<body>

<h1>Edit Customer Information</h1>
<h3 th:if="${mess}" th:text="${mess}"></h3>
<form method="post" th:object="${customer}">
    <table id="customers">
        <tr>
            <td>Name</td>
            <td><input th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input th:field="*{email}"></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input th:field="*{address}"></td>
        </tr>
    </table>

    <button type="submit">Submit</button>

</form>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>